/*
                                         
             /)                          
 _  _/_     //  _    _  ___   __  _/_ _  
/_)_(__(_/_(/__(/_  (__(_)(_(_/ (_(__/_)_
      .-/                                
     (_/           
  
*/

body {
	background-image:url("../img/bg.jpg");
	width:100%;
	height:100%;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	}

#wrapper {
	background-color:#fff;	
	width:100%;
	height:100%;
	margin:-24px 0 0 0;
	padding: 24px 0 0 0;
	-webkit-box-shadow: 0 0 24px  #999;
	   -moz-box-shadow: 0 0 24px  #999;
	        box-shadow: 0 0 24px  #999;
	}

header {}

#content {
	min-height:600px;
	margin-top:208px;
	padding:0 10% 20% 10%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

article {}

nav {}

#twitter {
	min-height:100px;
	width:100%;
	background-color:#ccc;
	padding:0 0 10% 0;
	}

footer { 
	min-height:100px;
	width:100%;
	background-color:#999;
	}


/*type
---------------------------------------------*/
	
h1 {}

h2 {
	font-family:"Georgia", times, serif;	
	color:#999;
	font-size:24px;
	line-height:36px;
	font-weight:normal;
	}

#twitter h1 {
	font-family:"Helvetica", arial, sans-serif;	
	color:#fff;
	font-size:18px;
	font-weight:bold;
	padding:36px 10% 0 10%;	
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

#twitter h2 {
	color:#999;
	padding:0 10% 0 10%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}


h3 {}


/*navigation
---------------------------------------------*/

nav ul {
	width:100%;
	height:56px;
	margin-top:124px;
	position:absolute;
	left:0;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	}

#nav1 li {
	display:inline;
	list-style-type:none;
	margin:10px;
	line-height:32px;
	}

#nav1 a:link {text-decoration:none; font-size:20px; color:#999;}
#nav1 a:visited {color:#999;}
#nav1 a:hover {color:#000;}
#nav1 a:active {color:#000;}

#nav2 {
	width:100%;
	height:56px;
	margin-top:36px;
	position:absolute;
	left:0;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	}

#nav2 li {
	display:inline;
	list-style-type:none;
	margin:10px;
	line-height:32px;
	}

#nav2 a:link {text-decoration:none; font-size:20px; color:#ccc;}
#nav2 a:visited {color:#ccc;}
#nav2 a:hover {color:#000;}
#nav2 a:active {color:#000;}



/*elements
---------------------------------------------*/

#logo {
	display:block;
	background-color:#fff;
	width:216px;
	height:78px;
	position:absolute;
	left:50%;
	margin-left:-108px; /*50% width value*/
	top:24px;
	-webkit-box-shadow: 0 0 8px  #999;
	   -moz-box-shadow: 0 0 8px  #999;
	        box-shadow: 0 0 8px  #999;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;		
	}

#connect {
	position:absolute;
	right:0;
	top:-116px;
	width:20%;
 	height:116px;
	display:block;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

#addme {
	margin-left:30%;
	width:81px;
 	height:116px;
	display:block;
	}

a:link#addme {background:url("../img/add.png") 0 0 transparent;}
a:visited#addme {background:url("../img/add.png") 0 0 transparent;}
a:hover#addme {background:url("../img/add.png") 81px 0 transparent;}
a:active#addme {background:url("../img/add.png") 81px 0 transparent;}



/*
   _                       
 /   )             /) ,    
/  ()  ___    _  _(/    _  
\____/ // (__(/_(_(__(_(_(_
                           
/*Read up on Responsive Web Design: 
http://www.alistapart.com/articles/responsive-web-design/
*/


/*
  __  __   __  
 /__   _) /  \ 
 \__) /__ \__/ 
               
styles for 620px and up!
---------------------------------------------*/
@media screen and (min-width: 620px),only print,projector {
	
	body {
	width:80%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}
	
	#content {
	margin-top:156px;
	padding:0 10% 0 5%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}
	
	#connect {
	top:0;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

	#logo {
	margin-left:0;	
	left:5%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;	
	}

	
	nav ul {
	width:25%; 
	height:36px;
	margin-top:24px;
	right:25%;
	left:45%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

	#nav1 li {
	line-height:24px;
	}

	#nav1 a:link {text-decoration:none; font-size:14px; color:#999;}
	#nav1 a:visited {color:#999;}
	#nav1 a:hover {color:#000;}
	#nav1 a:active {color:#000;}

	#twitter h1 {
	padding:36px 10% 0 5%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;	
	}

	#twitter h2 {
	padding:0 10% 0 5%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

	#nav2 {
	width:70%; 
	height:36px;
	padding-right:0;
	margin-top:24px;
	right:50%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

	#nav2 li {
	line-height:24px;
	}

	#nav2 a:link {text-decoration:none; font-size:14px; color:#ccc;}
	#nav2 a:visited {color:#ccc;}
	#nav2 a:hover {color:#000;}
	#nav2 a:active {color:#000;}	

}


/*
  __   __   __  
 (__) /  \ /  \ 
 (__) \__/ \__/ 
                
styles for 800px and up!
---------------------------------------------*/

@media screen and (min-width: 800px) {


	nav ul {
	width:40%;
	left:34%;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
	     -o-transition: all 1s ease-in-out;
	}

}

/*
     __   __   __  
 /| /  \ /  \ /  \ 
  | \__/ \__/ \__/ 

styles for 1000px and up!
---------------------------------------------*/

/*
-webkit-border-top-right-radius:8px;
-webkit-border-bottom-right-radius:8px;
	
-khtml-border-top-right-radius:8px;
-khtml-border-bottom-right-radius:8px;
	
-moz-border-top-right-radius:8px;
-moz-border-bottom-right-radius:8px;
	
border-top-right-radius:8px;
border-bottom-right-radius:8px;*/




	