/* IE 6 hacks */
#simplemodal-container a.modalCloseImg {background:none; right:-14px; width:22px; height:26px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/basic/x.png',sizingMethod='scale');}

#socialcloud {
margin-top:100px;
width:5000px;
}

#socialwrapper {
	display:block;
	overflow:auto;
}