/*

             /)   
 _  _/_     //  _ 
/_)_(__(_/_(/__(/_
      .-/         
     (_/

*/


/*Basics
----------------------------------------------------*/

body {
	font-family:helvetica, arial, sans-serif;
	padding:100px 0 0px 0;
	font-family:helvetica, arial, sans-serif;
	background-image:url("../images/nc_bg_vert.png");
	background-position:top;
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-color:#999999;
	
	}

#container{
	width:100%;
	}

/*Type
----------------------------------------------------*/

h1 {
	padding:20px 35px 0px 35px;
	font-family:georgia, times, serif;
	font-weight:normal;
	line-height: 36px;
	color: #999999;
	font-size:24px;
	margin-bottom:10px;
	margin-top:5px;
	}

h2 {
	font-family:helvetica, arial, sans-serif;
	color:#cccccc;
	font-size:19px;
	margin-bottom:70px;
	}

h3 {
	font-family:helvetica, arial, sans-serif;
	color:#cccccc;
	}
	
h4 {
	font-size:14px;
	padding-top:7px;
	font-weight:normal;
	color:#cccccc;
	text-decoration:none;
	}

p {
	color:#666666;
	}

a	{
	font-size:11px;
	font-weight:normal;
	color:#999999;
	text-decoration:none;
	}
	
a:link {
	font-size:11px;
	font-weight:normal;
	color:#999999;
	text-decoration:none;
	}
	
a:visited {
	color:#999999;
	}

a:active {
	color:#000000;
	}

a:hover {
	color:#000000;
	}
	
img {
	border:none;
}


/*Header
----------------------------------------------------*/

header {
	position:fixed;
	margin-top:0;
	padding-top:0;
	}


/*Navigation
----------------------------------------------------*/

nav {
	margin-left:0;
	padding-left:0;
	}

#socialcloud {
	margin-left:0;
	position:absolute;
	display:inline;
	padding-left:0;
	top:200px;
	width:6000px;
	height:275px;
}

#socialcloud li {
	display:inline;
	list-style-type:none;
	margin:0 0 0 230px;
	padding:0;
	text-decoration:none;
	height:224px;
	}

a.gotobttn:link {
	display:inline;
	width:245px;
	height:224px;
	font-size:30px;
	color:#cccccc;	
	text-decoration:none;
	}

a.gotobttn:visited {
	color:#cccccc;	
	}

a.gotobttn:hover {
	color:#cccccc;	
	}

a.gotobttn:active {
	color:#cccccc;	
	}
	
.desc {
	z-index:20000;
	padding-bottom:0;
	margin-left:0;
	height:224px;
	}

a.gotobttn img {
	margin-left:-230px;
	margin-bottom:-110px;
	border:4px solid #999999;
	background-color:#999999;
	cursor:pointer;
	-webkit-border-top-left-radius:30px;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:30px;
	-webkit-border-bottom-left-radius:30px;
	
	-khtml-border-top-left-radius:30px;
	-khtml-border-top-right-radius:0;
	-khtml-border-bottom-right-radius:30px;
	-khtml-border-bottom-left-radius:30px;
	
	-moz-border-top-left-radius:30px;
	-moz-border-top-right-radius:0;
	-moz-border-bottom-right-radius:30px;
	-moz-border-bottom-left-radius:30px;
	
	     border-top-left-radius:30px;
	     border-top-right-radius:0;
	     border-bottom-right-radius:30px;
	     border-bottom-left-radius:30px;
	
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.36);
	   -moz-box-shadow: 0 0 8px rgba(0,0,0,.36);
	        box-shadow: 0 0 8px rgba(0,0,0,.36);
	
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	}
	
a.gotobttn:hover img {
	border:4px dashed #cccccc;
	background-color:transparent;
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,.36);
	   -moz-box-shadow: 0 0 0px rgba(0,0,0,.36);
	        box-shadow: 0 0 0px rgba(0,0,0,.36);
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	}
	
	
/*Icons
----------------------------------------------------*/
	
a.gotobttn.blog img {
	background-image:url('../images/blog.png');
	background-position:top;
	background-repeat:none;	
	}
	
a.gotobttn:hover.blog img {
	background-image:url('../images/go_arrow.png');
	}
	
	
a.gotobttn.linkedin img {
	background-image:url('../images/linkedin.png');
	background-position:top;
	background-repeat:none;	
	}

a.gotobttn:hover.linkedin img {
	background-image:url('../images/go_arrow.png');
	}	
		
a.gotobttn.twitter img {
	background-image:url('../images/twitter.png');
	background-position:top;		
	background-repeat:none;	
	}

a.gotobttn:hover.twitter img {
	background-image:url('../images/go_arrow.png');
	}
			
a.gotobttn.github img {
	background-image:url('../images/github.png');
	background-position:top;
	background-repeat:none;	
	}

a.gotobttn:hover.github img {
	background-image:url('../images/go_arrow.png');
	}
			
a.gotobttn.facebook img {
	background-image:url('../images/facebook.png');
	background-position:top;
	background-repeat:none;	
	}

a.gotobttn:hover.facebook img {
	background-image:url('../images/go_arrow.png');
	}

a.gotobttn.flickr img {
	background-image:url('../images/flickr.png');
	background-position:top;
	background-repeat:none;	
	}

a.gotobttn:hover.flickr img {
	background-image:url('../images/go_arrow.png');
	}
	
a.gotobttn.published img {
		background-image:url('../images/book.png');
		background-position:top;
		background-repeat:none;	
		}

a.gotobttn:hover.published img {
		background-image:url('../images/go_arrow.png');
		}
			
a.gotobttn.music img {
		background-image:url('../images/music.png');
		background-position:top;
		background-repeat:none;	
		}

a.gotobttn:hover.music img {
		background-image:url('../images/go_arrow.png');
		}	
	

/*#baselist {
	float:right;
	right:0;
	position:fixed;
	top:100px;
	padding-left:0;
	}

#baselist li {
	display:inline;
	list-style-type:none;
	margin-right:30px;
	padding:0;
	text-decoration:none;	
	}	

#baselist a, #baselist a:link, #baselist a:visited {
	font-size:11px;
	color:#999999;
	text-decoration:none;
	margin:0;
	padding:0;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
	     -o-transition: all .1s ease-in-out;
	}

#baselist a.active,  #baselist a:hover {
	border-bottom: 4px solid #333333;
	padding-bottom: 4px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
	     -o-transition: all .1s ease-in-out;
	}
*/


/*Footer
----------------------------------------------------*/

footer {
	margin-left:0;
	padding-left:43px;
	height:300px;
	width:100%;
	position:fixed;
	margin-top:400px;
	clear:both;
	}

#search {
	float:left;
	width:485px;
	height:200px;
	margin-top:10px;
	position:absolute;
	z-index:9999;
	background-image:url("../images/search_soft_edge.png");
	background-position:right;
	background-repeat:repeat-y;
	}

.searchbox {
	border:4px solid #cccccc;
	height:25px;
	font-family:georgia, times, serif;
	color:#999999;
	font-size:18px;
	width:370px;
	-webkit-border-radius:8px;
	 -khtml-border-radius:8px;
	   -moz-border-radius:8px;
            border-radius:8px;	}

.subM_bttn {
	display:block;
	height:35px;
	width:45px;
	background-color:#cccccc;
	font-family:helvetica, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
	float:right;
	margin-right:35px;
	border:none;
	-webkit-border-radius:8px;
	 -khtml-border-radius:8px;
	   -moz-border-radius:8px;
            border-radius:8px;	
	cursor:pointer;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
	     -o-transition: all .1s ease-in-out;
}


.subM_bttn:hover {
	background-color:#333333;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
	     -o-transition: all .1s ease-in-out;
}

#tags {
	float:right;
	margin-top:10px;
	margin-right:10%;
	}

