body {
	background-color:#000;
	}

.bg img {
	position:fixed;
	top:0;
	left:0
	}

.bg img.bgwidth {
	width:100%
	}
	
.bg img.bgheight {
	height:100%
	}
	
#container{
	width:800px;
	margin:0 auto;
	position:relative
	}

.fullscreen_nav {
	display:block; 
	background-color:#000; 
	width:100%; 
	opacity:.8; 
	padding:8px 30px 6px 30px; 
	margin:4px 0 0 0;
	}

.btn {
	font-size: 12px; 
	text-decoration:none; 
	color:#fff; 
	font-family: helvetica, arial, sans-serif;	
	}
		
.next {
	float:right;
	}

.prev {
	float:left;	
	}
	

	
.back {
	background-color:#000; 
	opacity:.8; 
	width:70px; 
	padding:11px 10px 7px 10px; 
	margin-left: -135px; 
}