/*
                                         
             /)                          
 _  _/_     //  _    _  ___   __  _/_ _  
/_)_(__(_/_(/__(/_  (__(_)(_(_/ (_(__/_)_
      .-/                                
     (_/           
  
*/

@mixin easing($duration){
	-webkit-transition: all $duration ease-in-out;
	   -moz-transition: all $duration ease-in-out;
	     -o-transition: all $duration ease-in-out;
}

@mixin shadow($size, $color){
	-webkit-box-shadow: $size  $color;
	   -moz-box-shadow: $size  $color;
	        box-shadow: $size  $color;
}
@mixin rounded($radius){
	-webkit-border-radius:$radius;
	 -khtml-border-radius:$radius;
	   -moz-border-radius:$radius;
		    border-radius:$radius;
}

@mixin rounded-side($side, $radius){
	-webkit-border-#{$side}-radius:$radius;
	 -khtml-border-#{$side}-radius:$radius;
	   -moz-border-#{$side}-radius:$radius;
		    border-#{$side}-radius:$radius;
}

@mixin gradient-top($color1, $color2){
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
   background-image: -webkit-linear-gradient(top, $color1, $color2);
   background-image:    -moz-linear-gradient(top, $color1, $color2);
   background-image:     -ms-linear-gradient(top, $color1, $color2);
   background-image:      -o-linear-gradient(top, $color1, $color2);
}

body {
	background-image:url("../../img/bg.jpg");
	width:100%;
	height:100%;
	
	@include easing (.5s);
	}

#wrapper {
	background-color:#fff;	
	width:100%;
	height:100%;
	margin:-24px 0 0 0;
	padding: 24px 0 0 0;
	border-right:1px solid #c1c1c1;

	
	@include shadow (0 0 24px, #999);
	}

header {}

#content {
	margin-top:208px;
	min-height:450px;
	padding:25px 10% 0 10%;

	
	@include easing (1s);
	}

article {
	margin-bottom:124px;
	}

nav {
	width:100%;
	margin:0;
	padding:0;
	}

#twitter {
	min-height:75px;
	width:100%;
	background-color:#ccc;
	padding:0 0 0 0;
	}

footer { 
	min-height:100px;
	width:100%;
	height:200px;
	margin:-30px 0 0 0;
	background-color:#999;
	}


/*type
---------------------------------------------*/
	
h1 {
	font-family:helvetica, arial, sans-serif;
	color: #999;
	font-size:48px;
	margin-bottom:10px;
	}

h2 {
	font-family:"Georgia", times, serif;	
	color:#999;
	font-size:24px;
	line-height:36px;
	font-weight:normal;
	}

h3 {
	font-family:helvetica, arial, sans-serif;
	color: #666;	
	margin-top:48px;
	}
	
ul {
	line-height:32px;
	}
	
li {
	font-family:helvetica, arial, sans-serif;
	color: #666;	
	}	
	
p {
	font-family:"Georgia", times, serif;		
	line-height:30px;
	color:#666;
	}

.copyright {
	text-align:center;
	margin:0;
	}

.copyright p {
	font-family:"Helvetica", arial, sans-serif;
	font-size:18px;
	color: #ccc;
	text-shadow: 0px -1px #666;
	}

#twitter h1 {
	font-family:"Helvetica", arial, sans-serif;	
	color:#fff;
	font-size:18px;
	font-weight:bold;
	padding:36px 10% 0 10%;	
	
	@include easing (1s);
	}

#twitter h2 {
	color:#999;
	padding:0 10% 0 10%;
	
	@include easing (1s);
	}


h3 {}

a:link {
	text-decoration:none; 
	color:#ccc !important;
	}
a:visited {
	color:#ccc !important;
	}
a:hover {
	color:#000 !important;

@include easing (.3s);
	}
a:active {
	color:#000 !important;
	}

/*navigation
---------------------------------------------*/

nav ul {
	text-align:center;
	width:92%;
	height:56px;
	margin:124px 0 0 -26px;
	position:absolute;
	left:0;
	right:0;
	
	@include easing (.2s);
	}

#nav1 li {
	display:inline;
	list-style-type:none;
	margin:0;
	line-height:32px;
	}

#nav1 a {
}

#nav1 a:link {
	text-decoration:none; 
	font-size:20px; 
	color:#999 !important; 
	display:inline-block; 
	background-color:none; 
	padding:4px 12px 4px 12px;
	-webkit-appearance: none;	
	
	@include easing (.5s);
	@include rounded(8px);
	}
#nav1 a:visited {color:#999 !important;}
#nav1 a:hover {
	@include easing (.1s);	
	background-color:#eee;
	}
#nav1 a:active {color:#000 !important;}

#nav2 {
	width:92%;
	text-align:center;
	height:56px;
	padding:36px 0 0 0px;
	
	@include easing (.2s);
	}

#nav2 li {
	display:inline;
	list-style-type:none;
	margin:0 10px 0 10px;
	line-height:32px;
	}

#nav2 a:link {text-decoration:none; font-size:20px; color:#ccc !important;	text-shadow: 0px -1px #666;}
#nav2 a:visited {color:#ccc !important;}
#nav2 a:hover {color:#000 !important;text-shadow: none;
	@include easing (.2s);
	}
#nav2 a:active {color:#000 !important;}

ul.posts {
	margin-bottom:96px;
	}

/*elements
---------------------------------------------*/
#logo {
	display:block;
	background-color:#fff;
	width:259px;
	height:68px;
	position:absolute;
	left:50%;
	margin-left:-129px; /*50% width value*/
	top:24px;
	
	@include shadow (0 0 8px, #999);
	@include easing (1s);	
	}

#logo a:link {width:259px; height:68px; display:block; background-image:url('../../img/nick_cottrell.png');background-position:0 0;
	@include easing (.5s);		
	}
#logo a:visited {background-image:url('../../img/nick_cottrell.png');background-position:0 0;}
#logo a:hover {
	@include shadow (0 0 32px, #ccc);
	@include easing (.2s);		
	}
#logo a:active {}

#connect {
	position:absolute;
	right:0;
	top:-116px;
	width:20%;
 	height:116px;
	display:block;
	@include easing (1s);
	}

#addme {
	margin-left:30%;
	width:81px;
 	height:116px;
	display:block;
	}

a:link#addme {background:url("../../img/add.png") 0 0 transparent;
	@include easing (0);
	}
a:visited#addme {background:url("../../img/add.png") 0 0 transparent;
	@include easing (0);
	}
a:hover#addme {background:url("../../img/add.png") 81px 0 transparent;
	@include easing (0);
	}
a:active#addme {background:url("../../img/add.png") 81px 0 transparent;
	@include easing (0);
	}
	
.caption {width:100%; text-align:center;}
.caption p {}
	
.img_wrap {
	background-color:#eee;
	display:block;
	padding:16px;
	@include rounded (4px);
	margin: 0 0 8px 0;
		}
	
#content img {
	@include rounded (4px);
	@include shadow (0px 0 6px, #ccc);
	margin: 0;
	}

a:link.cta {
	display:block;
	float:none;
	z-index:99999;
	height:38px;
	width:100%;
	margin:0 auto;
	padding-top:14px;
	text-decoration:none;
	background-color:#999;
	font-family:helvetica, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#fff !important;
	border:1px solid #666 !important;
	text-shadow: 0px -1px #333;
	text-align:center;
	-webkit-appearance:none;
	text-decoration:none;
	
	@include easing (.5s);	
	@include gradient-top (#999, #666);
	@include shadow (0 1px 4px, #999);
	@include rounded (8px);
	
	}

a:visited.cta {
	color:#fff !important;	
	border:1px solid #666 !important;
		
	@include gradient-top (#999, #666);
	}

a:hover.cta {
	color:#fff !important;
	border:1px solid #666 !important;

	@include shadow (0 0 32px, #999);
	@include easing (.2s);	
	}

a:active.cta {
	color:#fff !important;
	border:1px solid #666 !important;
	@include gradient-top (#666, #999);
	}

.low-ui {
	height:100px;
	width:100%;
	}

.post_date {
	font-family:helvetica, arial, sans-serif;
	font-size:12px;
	color:#a2a3a6;
	height:22px;
	width:200px;
	background-image:url('../../img/time.png');
	background-position:0 6px;
	background-repeat:no-repeat;
	padding:0 0 0 22px;
	}

.leave_comment {
	float:right;
	margin-top:32px;
	}

a.leave_comment:link{
	padding:8px 20px 8px 20px;
	color:#fff !important;
	
	@include easing (.3s);	
	@include gradient-top (#999, #666);
	@include shadow (0 1px 4px, #999);
	@include rounded (4px);
}

a.leave_comment:visited{
	color:#fff !important;

}
a.leave_comment:hover{	
	color:#fff !important;
	@include easing (.1s);	
	@include shadow (0 1px 16px, #333);
	}
a.leave_comment:active{
	color:#fff !important;
	@include gradient-top (#666, #999);
	}


#contactMe {
	display:none;
	}

.code {}
.entry {margin-bottom:48px;}


/*contact form
---------------------------------------------*/

form {
	background-color:#eee;
	padding:20px 56px 56px 56px;
		
	@include rounded (8px);
	}

form h3 {
	margin:10px 0 10px 0;
	padding:0;
	text-shadow: 0px -1px #fff;
}
form ul {list-style-type: none;margin:0;padding:0;}
form ul li {margin:0; padding:0;}

form textarea {
	border:1px solid #ccc;
	font-size:24px;
	color:#666;
	width:98%;
	height:200px;

	@include shadow (inset 0 0 24px, #e3e3e3);
	@include rounded (8px);
	}

form input {
    padding-left:18px;
	border:1px solid #ccc;
	width:95%;
	height:42px;
	margin-bottom:20px;
	font-size:24px;
	color:#666;
	
	@include shadow (inset 0 0 24px, #e3e3e3);
	@include rounded (8px);
	}

form .hide {display:none;}

form input[type="submit"]{
	cursor: pointer;	
	display:block;
	float:none;
	z-index:99999;
	height:38px;
	width:100%;
	margin:25px 0 25px 0;
	padding:14px 0 36px 0;
	text-decoration:none;
	background-color:#999;
	font-family:helvetica, arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#fff !important;
	border:1px solid #666 !important;
	text-shadow: 0px -1px #333;
	text-align:center;
	-webkit-appearance:none;
	text-decoration:none;
	
	@include easing (.2s);	
	@include gradient-top (#999, #666);
	@include shadow (0 1px 4px, #999);
	@include rounded (8px);

}


input::-webkit-input-placeholder {
    color:    #eee;
}
input:-moz-placeholder {
    color:    #eee;
}
::-webkit-input-placeholder {
    color:    #eee;
}
:-moz-placeholder {
    color:    #eee;
}


select{
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-left:18px;
	border:1px solid #ccc;
	width:100%;
	height:42px;
	margin:0 0 20px0;


	@include shadow (inset 0 0 24px, #e3e3e3);
	@include rounded (8px);
}

.buttons {width:100%; float:none;}

.secondary_cta {width:100%; text-align:center;}



/*modal
----------------------------------------------------*/

#basic-modal-content {display:none;}

#simplemodal-overlay {
	background-color:#000; 
	cursor:wait; 
	width:100%; 
	height:100%; 
	width:100%;

@include easing (.1s);
	}

#socialwrapper {
	display:block;
	overflow-x:scroll;
	overflow-y:hidden;
	width:450px;
	height:2000px;
	position:absolute;
	top:-400px;
	left:-175px;
	margin:0;
	padding:0;
	}

#social{
	margin:0;
	padding:0;
	}

#closemodal {position:fixed; top:120px; left:56px;}

a#closemodal:link{
	padding:8px 20px 8px 20px;
	color:#fff !important;
	
	@include easing (.2s);	
	@include gradient-top (#999, #666);
	@include shadow (0 1px 4px, #333);
	@include rounded (4px);
	}

a#closemodal:visited{
	color:#fff !important;
	}
	
a#closemodal:hover{	
	color:#fff !important;
	@include easing (0s);	
	@include gradient-top (#333, #000);
	@include shadow (0 1px 16px, #333);
	}
a#closemodal:active{
	color:#fff !important;
	
	}

img {
	border:none;
	}	

#socialcloud {
	position:absolute;
	top:200px;
	left:0;
	height:240px;
	display:block;
	white-space:nowrap;
	float:left;
	}

#socialcloud li {
	display:inline;
	list-style-type:none;
	}

a.gotobttn:link {
	float:left;
	width:247px;
	height:226px;
	padding:0px 0 0 0px;
	margin: 0 96px 0 0;
	font-size:30px;
	color:#999 !important;
	text-decoration:none;

@include gradient-top (#999, #666);
@include rounded-side(top-left, 16px);
@include rounded-side(top-right, 0);
@include rounded-side(bottom-right, 16px);
@include rounded-side(bottom-left, 16px);
	}

a.gotobttn:visited {
	color:#999 !important;	
	}

a.gotobttn:hover {
	color:#999 !important;	
	}

a.gotobttn:active {
	color:#999 !important;	
	}
	
	
a.gotobttn:link .desc {
	display:none;
	}

a.gotobttn:visited .desc {
	}

a.gotobttn:hover .desc {
	position:absolute;
	top:95px;
	text-align:right;
	padding-bottom:0;
	width:230px;
	height:32px;
	display:block;	
	}

a.gotobttn:active {
	}

a.gotobttn img {
	background-position:top;
	background-repeat:none;	
	overflow:hidden;
	border:1px solid #555;
	cursor:pointer;

@include rounded-side(top-left, 16px);
@include rounded-side(top-right, 0);
@include rounded-side(bottom-right, 16px);
@include rounded-side(bottom-left, 16px);
@include shadow (0 0 16px, #333);
@include easing (.2s);
	}
	
a.gotobttn:hover img {
	border:1px dashed #cccccc;
	background-color:#fff;

@include shadow (0 0 0, #000);
@include easing (.2s);
	}
	
a.gotobttn.blog img {background-image:url('../../img/social/blog.png');}
a.gotobttn:hover.blog img {background-image:url('../../img/social/go_arrow.png');}
a.gotobttn.linkedin img {background-image:url('../../img/social/linkedin.png');}
a.gotobttn:hover.linkedin img {background-image:url('../../img/social/go_arrow.png');}	
a.gotobttn.twitter img {background-image:url('../../img/social/twitter.png');}
a.gotobttn:hover.twitter img {background-image:url('../../img/social/go_arrow.png');}
a.gotobttn.github img {background-image:url('../../img/social/github.png');}
a.gotobttn:hover.github img {background-image:url('../../img/social/go_arrow.png');}
a.gotobttn.facebook img {background-image:url('../../img/social/facebook.png');}
a.gotobttn:hover.facebook img {background-image:url('../../img/social/go_arrow.png');}
a.gotobttn.flickr img {background-image:url('../../img/social/flickr.png');}
a.gotobttn:hover.flickr img {background-image:url('../../img/social/go_arrow.png');}
a.gotobttn.published img {background-image:url('../../img/social/book.png');}
a.gotobttn:hover.published img {background-image:url('../../img/social/go_arrow.png');}
a.gotobttn.music img {background-image:url('../../img/social/music.png');}
a.gotobttn:hover.music img {background-image:url('../../img/social/go_arrow.png');}	






/*
   _                       
 /   )             /) ,    
/  ()  ___    _  _(/    _  
\____/ // (__(/_(_(__(_(_(_
                           
/*Read up on Responsive Web Design: 
http://www.alistapart.com/articles/responsive-web-design/
*/


/*
  __  __   __  
 /__   _) /  \ 
 \__) /__ \__/ 
               
styles for 620px and up!
---------------------------------------------*/
@media screen and (min-width: 620px),only print,projector {

	#contactMe p {
		margin:-20px 0 0px 0;
	}
	
	#contactMe {
	display:block;
	width:300px;
	height:55px;
	margin-top:-105px;
	margin-bottom:25px;
	padding-top:30px;
	padding-left:16%;
	background-color:#ffffff;
	
	@include shadow (0 0 8px, #999);
	}
	
	a:link.cta {width:80%;}
	a:visited.cta {}
	a:hover.cta {}
	a:active.cta {}	

	#socialwrapper {
	width:650px;		
	left:-400px;
	}

	form input.thename {
	width:98%;
	margin-right:1%;
	}

	form input.theemail {
	width:95%;
	margin-right:1%;
	}

	select{
	width:100%;
	}

	.buttons {width:100%; float:none;}


}


/*
  __   __   __  
 (__) /  \ /  \ 
 (__) \__/ \__/ 
                
styles for 800px and up!
---------------------------------------------*/
@media screen and (min-width: 800px),only print,projector {
	
	body {
	width:80%;
	
	@include easing (1s);
	}
	
	#content {
	margin-top:156px;
	padding:0 10% 0 5%;
	
	@include easing (1s);
	}
	
	#connect {
	top:0;
	
	@include easing (1s);
	}

	#logo {
	margin-left:0;	
	left:5%;
	
	@include easing (1s);	
	}

	
	nav ul {
	text-align:left;
	width:25%; 
	height:36px;
	margin-top:24px;
	left:40%;
	
	@include easing (1s);
	}

	#nav1 li {
	line-height:24px;
	}

	#nav1 a:link {text-decoration:none; font-size:14px; color:#999;}
	#nav1 a:visited {color:#999;}
	#nav1 a:hover {color:#000;}
	#nav1 a:active {color:#000;}

	#twitter h1 {
	padding:36px 10% 0 5%;
	
	@include easing (1s);	
	}

	#twitter h2 {
	padding:0 10% 0 5%;
	@include easing (1s);
	}

	#nav2 {
	text-align:left;
	width:48%; 
	height:36px;
	padding-right:0;
	margin-top:24px;
	margin-left:36px;
	
	@include easing (1s);
	}

	#nav2 li {
	line-height:24px;
	}
	
	#nav2 a:link {text-decoration:none; font-size:14px; color:#ccc;	text-shadow: 0px -1px #666;}
	#nav2 a:visited {color:#ccc;}
	#nav2 a:hover {color:#000;text-shadow: 0px 0px #000;}
	#nav2 a:active {color:#000;}


	.img_wrap {
	max-width:1024px;
		}

	#content img {
	max-width:1024px;
	margin: 0;
	}
	
	a:link.cta {width:40%; float:right;}
	a:visited.cta {}
	a:hover.cta {}
	a:active.cta {}
	.caption {width:50%;text-align:left; margin-top:-20px; padding-top:0;padding-bottom:40px;float:left;}

	.img_wrap {
	background-color:#eee;
	display:block;
	padding:16px;
	@include rounded (4px);
	margin: 0 0 24px 0;
	}

	#socialwrapper {
	width:800px;		
	}

	form input.thename {
	width:45%;
	margin-right:1%;
	}

	form input.theemail {
	width:45%;
	margin-right:1%;
	}

	select{
	width:47%;
	}

	.buttons {
	margin-top:-130px;
	margin-right:20px;
	width:45%;
	float:right;
	}

	.copyright {
	float:right;
	text-align:right;
	right:-50px;
	width:100%;
	margin:-64px 100px 0 0;
	padding-left:70%; 
	}

	.copyright p {
	font-family:"Helvetica", arial, sans-serif;
	font-size:14px;
	color: #ccc;
	text-shadow: 0px -1px #666;
	}

}

/*
     __   __   __  
 /| /  \ /  \ /  \ 
  | \__/ \__/ \__/ 

styles for 900px and up!
---------------------------------------------*/
@media screen and (min-width: 900px) {
	nav ul {
	width:40%;
	left:30%;
	@include easing (1s);
	}
	a:link.cta {width:300px;}
	a:visited.cta {}
	a:hover.cta {}
	a:active.cta {}

	#socialwrapper {
	left:-520px;
	width:1000px;			
	}





}








@media screen and (min-width: 1200px) {
	#socialwrapper {
	width:1200px;			
	}


}

@media screen and (min-width: 1400px) {
	#socialwrapper {
	left:-700px;
	width:1400px;			
	}


}






















	