<title>{{ page.title }} : Nick Cottrell of San Francisco : Tailor of Technology</title>
<link rel="shortcut icon" href="/img/interface/favicon.ico">

<!--
                    ,      /)   
___    _ _/_ _       __   // ___
// (__(/_(__(_(_  _(_/ (_/(_(_) 
                        /)      
                       (/       
-->

<meta name="description" content="Hi. I&#39;m Nick Cottrell. I&#39;m a designer/developer and I write about UX and interaction design. This page is about... {{ page.title }} "> 
<meta name="keywords" content="san francisco graphic design, san francisco graphic design, san francisco communication design, san francisco user experience design, UX, UI, Brand Experience, Communication Designer, "> 
<meta name="author" content="Nick Cottrell, Brand Experience Designer">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="/img/interface/apple-touch-icon.png"/>