




<div class="img_wrap"><a name="slide01" href="/visual-samples-fullscreen/?start=slide01&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide01&control=play"><img src="/img/visual-samples/bittorrent-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Global re-brand (2010)</em></p>

<div class="img_wrap"><a name="slide02" href="/visual-samples-fullscreen/?start=slide02&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide02&control=play"><img src="/img/visual-samples/livewithus-01-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide03" href="/visual-samples-fullscreen/?start=slide03&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide03&control=play"><img src="/img/visual-samples/livewithus-02-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide04" href="/visual-samples-fullscreen/?start=slide04&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide04&control=play"><img src="/img/visual-samples/livewithus-03-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide05" href="/visual-samples-fullscreen/?start=slide05&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide05&control=play"><img src="/img/visual-samples/livewithus-04-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Roommate finder app</em></p>

<div class="img_wrap"><a name="slide06" href="/visual-samples-fullscreen/?start=slide06&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide06&control=play"><img src="/img/visual-samples/twp-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Retail brand &amp; e-commerce site</em></p>

<div class="img_wrap"><a name="slide07" href="/visual-samples-fullscreen/?start=slide07&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide07&control=play"><img src="/img/visual-samples/uber_03-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><a name="slide08" href="/visual-samples-fullscreen/?start=slide08&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide08&control=play"><img src="/img/visual-samples/uber-cool-04-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Concepts for a well-known SF start-up</em></p>

<div class="img_wrap"><a name="slide09" href="/visual-samples-fullscreen/?start=slide09&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide09&control=play"><img src="/img/visual-samples/music-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Independent record label artwork</em></p>

<div class="img_wrap"><a name="slide10" href="/visual-samples-fullscreen/?start=slide10&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide10&control=play"><img src="/img/visual-samples/snap-1024x5741.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide11" href="/visual-samples-fullscreen/?start=slide11&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide11&control=play"><img src="/img/visual-samples/snap-02-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide12" href="/visual-samples-fullscreen/?start=slide12&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide12&control=play"><img src="/img/visual-samples/snap-03-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Responsive web design</em></p>

<div class="img_wrap"><a name="slide13" href="/visual-samples-fullscreen/?start=slide13&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide13&control=play"><img src="/img/visual-samples/seagraves-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide14" href="/visual-samples-fullscreen/?start=slide14&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide14&control=play"><img src="/img/visual-samples/seagraves-02-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide15" href="/visual-samples-fullscreen/?start=slide15&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide15&control=play"><img src="/img/visual-samples/seagraves-04-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Action sports website &amp; brand</em></p>

<div class="img_wrap"><a name="slide16" href="/visual-samples-fullscreen/?start=slide16&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide16&control=play"><img src="/img/visual-samples/shottastic-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide17" href="/visual-samples-fullscreen/?start=slide17&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide17&control=play"><img src="/img/visual-samples/shottastic-03-1024x574.jpg" width="100%" /></a></div>
<div class="img_wrap"><a name="slide18" href="/visual-samples-fullscreen/?start=slide18&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide18&control=play"><img src="/img/visual-samples/shottastic-04-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Concepts for Kickstarter</em></p>


<div class="img_wrap"><a name="slide19" href="/visual-samples-fullscreen/?start=slide19&control=play" style="float:right; font-size:10px; padding-bottom:10px;">expand</a></br /><a href="/visual-samples-fullscreen/?start=slide19&control=play"><img src="/img/visual-samples/way-too-sick-1024x574.jpg" width="100%" /></a></div>
<p class="sm_caption"><em>Multi-media digital content releases</em></p>


<div class="page-block page-bottom">
	<div class="group">
		<div class="item span-4">
			<p class="caption"><em>Want to see more? More samples are <a href="/contact-nick-cottrell/">available upon request</a>.</em>
			</p>
		</div><!--.item-->
		<div class="item span-2">
			<a class="cta" href="/contact-nick-cottrell/">Contact Me</a>
		</div><!--.item-->
	</div><!--.group-->
	<div class="group follow-me-mobile">
		<div class="item skip-4 span-2">
			<a class="cta2" href="http://twitter.com/istitch">Follow Me (@istitch)</a>
		</div><!--.item-->
	</div><!--.group-->	
</div><!--.page-block-->