<div class="img_wrap"><img src="/img/visual-samples/bittorrent-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Global re-brand (2010)</em></p>

<div class="img_wrap"><img src="/img/visual-samples/twp-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Retail brand &amp; e-commerce site</em></p>

<div class="img_wrap"><img src="/img/visual-samples/livewithus-01-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/livewithus-02-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/livewithus-03-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/livewithus-04-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Roommate finder application</em></p>

<div class="img_wrap"><img src="/img/visual-samples/uber_03-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/uber-cool-04-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Concepts for a well-known SF start-up</em></p>

<div class="img_wrap"><img src="/img/visual-samples/music-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Independent record label artwork</em></p>

<div class="img_wrap"><img src="/img/visual-samples/snap-1024x5741.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/snap-02-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/snap-03-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Responsive web design</em></p>

<div class="img_wrap"><img src="/img/visual-samples/seagraves-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/seagraves-02-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/seagraves-04-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Action sports website &amp; brand</em></p>

<div class="img_wrap"><img src="/img/visual-samples/shottastic-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/shottastic-03-1024x574.jpg" width="100%" /></div>
<div class="img_wrap"><img src="/img/visual-samples/shottastic-04-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Concepts for Kickstarter</em></p>


<div class="img_wrap"><img src="/img/visual-samples/way-too-sick-1024x574.jpg" width="100%" /></div>
<p class="sm_caption"><em>Multi-media digital content releases</em></p>


<div class="page-block page-bottom">
	<div class="group">
		<div class="item span-4">
			<p class="caption"><em>Want to see more? More samples are <a href="/contact-nick-cottrell/">available upon request</a>.</em>
			</p>
		</div><!--.item-->
		<div class="item span-2">
			<a class="cta" href="/contact-nick-cottrell/">Contact Me</a>
		</div><!--.item-->
	</div><!--.group-->
	<div class="group follow-me-mobile">
		<div class="item skip-4 span-2">
			<a class="cta2" href="http://twitter.com/istitch">Follow Me (@istitch)</a>
		</div><!--.item-->
	</div><!--.group-->	
</div><!--.page-block-->