<!DOCTYPE html>
<html>
<head>

	<title>NC Labs : Rich Layout Template</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<link href="css/style.css" rel="stylesheet"/>
	<link href="css/normalize.css" rel="stylesheet"/>
	<link href="css/respond_600px_below.css" rel="stylesheet"/>
	<link href="css/respond_600px_below.css" rel="stylesheet"/>
	<link href="css/respond_600px_plus.css" media="screen and (min-width: 600px)" rel="stylesheet"/>
	<script src="js/respond.src.js"></script>


</head> 
<body>
	
	<div>
	<p>This is just a visual test file, and an ugly one at that!</p>
	</div>
	
	
	
	<div id="blog">
	
	<div id="blog_content">
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
	</div><!--end #blog_content-->
	
	<div id="blog_nav">
	<ul>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	</div><!--end #blog_nav-->
	

	</div><!--end #blog-->
	
	
	<div id="attribute-test">
	<p>Media-attributes are working too! This should be visible above 600px.</p>
	</div>
	

	<div><p>For a realistic use case for media queries: read up on <a href="http://www.alistapart.com/articles/responsive-web-design/">Responsive Web Design</a></p>
	</div>
	
</body>
</html>