<!DOCTYPE html>
<html>
<head>

	<title>NC Labs : Rich Layout Template</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	
	<link href="css/style.css" rel="stylesheet"/>
	<link href="css/normalize.css" rel="stylesheet"/>
	<link href="css/respond_600px_below.css" media="all" rel="stylesheet"/>
	<link href="css/respond_600px_plus.css" media="screen and (min-width: 600px)" rel="stylesheet"/>
	<script src="js/respond.src.js"></script>
	
	
	<script type="text/javascript">

<script type="text/javascript">

var scroll1, scroll2;
function loaded() {
    scroll1 = new iScroll('standard');
    scroll2 = new iScroll('transition', { useTransition:true });
}

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
document.addEventListener('DOMContentLoaded', loaded, false);

</script>


<style type="text/css">


</style>
	
	
	
	
	
	
	
	


</head> 
<body>
	
	<div>
	<p>This is just a visual test file, and an ugly one at that!</p>
	</div>
	
	
	
	<div id="blog">
	
	<div id="blog_content">
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

	</div><!--end #blog_content-->
	
	<div id="blog_nav">
	<div id="transition">
	<div class="scroller">
		<ul>
			<li><strong>Transition mode</strong></li>
			<li>Pretty row 2</li>
			<li>Pretty row 3</li>
			<li>Pretty row 4</li>
			<li>Pretty row 5</li>
			<li>Pretty row 6</li>
			<li>Pretty row 7</li>
			<li>Pretty row 8</li>
			<li>Pretty row 9</li>
			<li>Pretty row 10</li>
			<li><strong>Transition mode</strong></li>
			<li>Pretty row 12</li>
			<li>Pretty row 13</li>
			<li>Pretty row 14</li>
			<li>Pretty row 15</li>
			<li>Pretty row 16</li>
			<li>Pretty row 17</li>
			<li>Pretty row 18</li>
			<li>Pretty row 19</li>
			<li>Pretty row 20</li>
			<li><strong>Transition mode</strong></li>
			<li>Pretty row 22</li>
			<li>Pretty row 23</li>
			<li>Pretty row 24</li>
			<li>Pretty row 25</li>
			<li>Pretty row 26</li>
			<li>Pretty row 27</li>
			<li>Pretty row 28</li>
			<li>Pretty row 29</li>
			<li>Pretty row 30</li>
			<li><strong>Transition mode</strong></li>
			<li>Pretty row 32</li>
			<li>Pretty row 33</li>
			<li>Pretty row 34</li>
			<li>Pretty row 35</li>
			<li>Pretty row 36</li>
			<li>Pretty row 37</li>
			<li>Pretty row 38</li>
			<li>Pretty row 39</li>
			<li>Pretty row 40</li>
		</ul>
	</div>
</div>
	</div><!--end #blog_nav-->
	

	</div><!--end #blog-->
	
	
	<div id="attribute-test">
	<p>Media-attributes are working too! This should be visible above 600px.</p>
	</div>
	

	<div><p>For a realistic use case for media queries: read up on <a href="http://www.alistapart.com/articles/responsive-web-design/">Responsive Web Design</a></p>
	</div>
	
</body>
</html>