/*
This is just a test file for making sure the script is working properly.
If it is, the media queries below will change the body's background color depending on the browser width.
For a realistic use case for media queries: read up on Responsive Web Design: 
http://www.alistapart.com/articles/responsive-web-design/
*/

body {
	background: black;
	color: #333;
	font-family: Helvetica, sans-serif;
	overflow-y:hidden;
	overflow-x:hidden;
}

div {
	width: 60%;
	min-width: 300px;
	max-width: 700px;
	margin: 0 auto;
	background: #fff;
	padding: 0;
}
a {
	color: #333;
}

#blog {
	width:60%;  
	overflow: hidden;
}

#blog_content {
	float:left; 
	width:100%
	}
	
#blog_nav {
	float:left; 
	width:100%; 
	background-color:#cccccc;	
	overflow: hidden;
	}


/* Turn on the scrollbar */
#blog_nav ::-webkit-scrollbar {
    width: 8px;
	z-index:9999;

}
 
#blog_nav ::-webkit-scrollbar-button:vertical {
    display:hidden;
}
 
/* Turn off the down area up on top, and up area on bottom */
#blog_nav ::-webkit-scrollbar-button:vertical:start:increment,
#blog_nav ::-webkit-scrollbar-button:vertical:end:decrement {
    display: hidden;

}
 
/* Place The scroll down button at the bottom */
#blog_nav ::-webkit-scrollbar-button:vertical:decrement,
#blog_nav ::-webkit-scrollbar-button:vertical:increment {
display:hidden;
}
 
 
/*::-webkit-scrollbar-track:vertical {
    background-color: blue;
    border: 1px dashed pink;
}*/
 
/* Top area above thumb and below up button */
#blog_nav ::-webkit-scrollbar-track-piece:vertical:start {
    background-color:transparent;

}
 
/* Bottom area below thumb and down button */
#blog_nav ::-webkit-scrollbar-track-piece:vertical:end {
    background-color:transparent;
}
 
/* Track below and above */
#blog_nav ::-webkit-scrollbar-track-piece {
    background-color:#fff;
}
 
/* The thumb itself */
#blog_nav ::-webkit-scrollbar-thumb:vertical {
    height: 30%;
	border-left:4px #cccccc solid;
}
 
/* Corner */
/*::-webkit-scrollbar-corner:vertical {
    background-color: black;
}*/
 
/* Resizer */
#blog_nav ::-webkit-scrollbar-resizer:vertical {
    background-color: red;
}





/* hide the attribute-test element. test2.css will show it */
#attribute-test {
	display: none;
}

/*styles for 480px and up!*/
@media only screen and (min-width: 480px), only screen and (max-width: 620px) {
	body {
		background: green;
	}
}



/*styles for 620px and up! (let's try this one minified )*/
@media screen and (min-width: 620px),only print,projector{
	body{
		background:red;
	}

}

/*styles for 800px and up!*/
@media screen and (min-width: 800px){
	body {
		background: blue;
	}
	
}

/*styles for 1000px and up!*/
@media screen and (min-width: 1000px){
	body {
		background: orange;
	}
	
	#blog_content {
	float:left; 
	width:50%
	}
	
	#blog_nav {
	float:right; 
	width:50%; 
	background-color:#cccccc;	
	}
}

/*styles for 1300px and up!*/
@media screen and (min-width: 1300px){
	body {
		background: navy;
	}
}