

/*main styles
--------------------------------------*/

body {
	color: #333;
	font-family: Helvetica, sans-serif;
	overflow-x:hidden;
	margin: 0 auto;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	float:left;
	}

header, footer, #main_content {
	background-color:#fff;
	padding:0;
	margin-right:0;
	}

a {
	color: #333;
	}

#blog {
	overflow: hidden;
	}

#blog_content {
	float:left; 
	width:100%
	}
	
#blog_nav {
	float:left; 
	width:100%;
	height:100%;
	overflow: hidden;
	background-color:#cccccc;	
	}
	
	
















/*scrollbox slideshow
--------------------------------------*/

#wrapper {
	width:100%;
	height:90%;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
}

#scroller ul {
	width:100%;
	height:100%;
	display:block;
	list-style:none;
	float:left;
	padding:0;
	margin:0;
	text-align:left;
}

#nav {
	width:100%;
}

#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
}

#next {
	float:right;
	text-align:right;
}

#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	width:110px;
	padding:12px 0 0 30px;
	margin-left:35%;
}

#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#666666;
	overflow:hidden;
	margin-right:4px;
}

#indicator > li.active {
	background:#333333;
}

#indicator > li:last-child {
	margin:0;
}














#thelist {
}

#scroller {
	height:100%;
	float:left;
	padding:0;
}

#scroller li {
	height:100%;
	display:block; 
	float:left;
	margin-left:0;
	margin-right:0;
	text-align:left;
	font-family:georgia;
	font-size:18px;
	line-height:24px;
	background-color:#666;
}


























/*@media styles
--------------------------------------*/

/*
This is just a test file for making sure the script is working properly.
If it is, the media queries below will change the body's background color depending on the browser width.
For a realistic use case for media queries: read up on Responsive Web Design: 
http://www.alistapart.com/articles/responsive-web-design/
*/


/* hide the attribute-test element. test2.css will show it ***********************************--*/
#attribute-test {
	display: none;
}

/*styles for 480px and up!*/
@media only screen and (min-width: 480px), only screen and (max-width: 620px) {
	body {
		background: green;
	}
	
	#scroller li {
		width:480px; 
	}

}

/*styles for 620px and up! (let's try this one minified )*/
@media screen and (min-width: 620px),only print,projector{
	body{
		background:red;
	}

	#scroller li {
		width:584px; /* max-width (620px) - 36px) */
		margin-left:36px
	}


}

/*styles for 800px and up!*/
@media screen and (min-width: 800px){
	body {
		background: blue;
		width:700px;
	}

	header, footer, #main_content {
		
	}

	#blog_content {
		float:left; 
		width:70%
	}
	
	#blog_nav {
		float:right; 
		width:30%; 
		height:100%;
		padding-bottom:10%;
	}
	
	#scroller li {
		width:764px; /* max-width (800px) - 36px) */
		margin-left:36px
	}
	
}

/*styles for 1000px and up!*/
@media screen and (min-width: 1000px){
	body {
		background: orange;
		width:900px;
	}
	
	/*#scroller li {
		width:13.771429%; /* max-width - margin-left) */
	/*	margin-left:0.51428571%
	}*/

	#scroller li {
		width:964px; /* max-width - margin-left) */
		margin-left:36px;
	}	
	
	#thelist {
		width:7000px;
	}

	#scroller {
		width:7000px;
	}


}

/*styles for 1300px and up!*/
@media screen and (min-width: 1300px){
	body {
		background: navy;
		width:1200px;
	}
}