<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<title>{{ page.title }} : Nick Cottrell of San Francisco : Brand Experience Design</title>
<link rel="shortcut icon" href="img/favicon.ico">

<meta name="description" content="Hi. I&#39;m Nick Cottrell. I&#39;m a designer/developer and I write about UX and interaction design. This page is about... "> 
<meta name="keywords" content="san francisco graphic design, san francisco graphic design, san francisco communication design, san francisco user experience design, UX, UI, Brand Experience, Communication Designer, "> 
<meta name="author" content="Nick Cottrell, Brand Experience Designer">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<link href="/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="/css/base.css" rel="stylesheet" type="text/css" />
<script src="/js/respond.min.js"></script>
<script src="/js/respond.src.js"></script>


</head>
<body>
<div id="wrapper">
	
	<header>
		<div id="logo"><a href="/"><!--<img src="/img/nick_cottrell.png" border="0"/>--></a></div>
		<div id="connect"><a id="addme" href="/social/"></a></div>
	</header>

	<nav>
		<ul id="nav1">
			{% include nav1.textile %}
		</ul>	
	</nav>

	<div id="content">
		
		{{ content }}
		
	</div><!--end #content-->

	<div id="twitter">
		<!--<h1>tweet, tweet.</h1>
			<h2>istitch: RT @trammell: I like to imagine my long, awkward pauses between each French word make me sound like a cool, Parisian @WilliamShatner.</h2>-->
	</div><!--end #twitter-->

	<footer>
		<ul id="nav2">
			{% include nav1.textile %}			
		</ul>
	</footer>



</div><!--end #wrapper-->
</body>
</html>