---
layout: default
---





<!--                        
             ,     /)   
 _   __ _/_    _  //  _ 
(_(_/ (_(___(_(__(/__(/_
                        
                        
-->
<article>
	<h1>{{ page.title }}</h1>
	<!--<p class="post_date">{{ page.date | date: "%B %d, %Y" }}</p>-->

{{ content }}

</article>



<!--                       

___   _____   _ 
// (_(_)/ (__(/_

                        
-->

<div class="page-block">
	<div class="group">
		<div class="item span-6 morelinks">
			<h3>More Articles</h3>
			<ul>
{% for category in site.categories %} 
       {% for post in site.categories['articles'] %} 
    			<li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %} 
{% endfor %} 
    		</ul>
		</div><!--.item-->
	</div><!--.group-->	
</div><!--.page-block-->




<div class="page-block follow-me-mobile">
	<div class="group">
		<div class="item skip-4 span-2">
			<a class="cta2" href="http://twitter.com/istitch">Follow Me (@istitch)</a>
		</div><!--.item-->
	</div><!--.group-->	
</div><!--.page-block-->



                

             
