---
layout: default
---





<!--                        
             ,     /)   
 _   __ _/_    _  //  _ 
(_(_/ (_(___(_(__(/__(/_
                        
                        
-->
<article>
	<h1>{{ page.title }}</h1>
	<p class="post_date">{{ page.date | date: "%B %d, %Y" }}</p>

{{ content }}

</article>




<!--                       
   /) ,                
 _(/    _   _       _  
(_(__(_/_)_(_/_(_(_/_)_
            /(         
           (_)         
-->
		
			<a name="comment" />
		
			<div id="disqus_thread"></div>
			<script type="text/javascript">
    			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    			var disqus_shortname = 'ncbxd'; // required: replace example with your forum shortname
			
    			/* * * DON'T EDIT BELOW THIS LINE * * */
    			(function() {
        			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    				})();
			</script>

			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>



<!--                       

___   _____   _ 
// (_(_)/ (__(/_

                        
-->

<div class="page-block">
	<div class="group">
		<div class="item span-6 morelinks">
			<h3>More Articles</h3>
			<ul>
{% for category in site.categories %} 
       {% for post in site.categories['articles'] %} 
    			<li><a href='/{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %} 
{% endfor %} 
    		</ul>
		</div><!--.item-->
	</div><!--.group-->	
</div><!--.page-block-->




<div class="page-block follow-me-mobile">
	<div class="group">
		<div class="item skip-4 span-2">
			<a class="cta2" href="http://twitter.com/istitch">Follow Me (@istitch)</a>
		</div><!--.item-->
	</div><!--.group-->	
</div><!--.page-block-->



                

             
