---
  layout: default
  title: Ideas
  permalink: ideas/
---
		

{% for category in site.categories %} 
       {% for post in site.categories['articles'] %} 
<article>
	<h1><a href='/{{ post.url }}'>{{ post.title }}</a></h1>
	<!--<p class="post_date">{{ post.date | date: "%B %d, %Y" }}</p>-->
	{{ post.content }}
	
	<div class="page-block">
	<div class="group">
		<div class="item skip-4 span-2">
			<a class="cta" href="/{{ post.url }}/#comment">Leave a Comment</a>
		</div><!--.item-->
	</div><!--.group-->
	<div class="group follow-me-mobile">
		<div class="item skip-4 span-2">
			<a class="cta2" href="http://twitter.com/istitch">Follow Me (@istitch)</a>
		</div><!--.item-->
	</div><!--.group-->		
</div><!--.page-block-->
</article>
        {% endfor %} 
{% endfor %}